<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rf.yagodar.manqala.free"
    android:versionCode="3"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <supports-screens 
        android:largeScreens="true"
        android:xlargeScreens="true" />
    
    <uses-configuration 
         android:reqTouchScreen="finger" />
    
    <uses-configuration 
         android:reqTouchScreen="stylus" />
    
    <uses-permission 
        android:name="android.permission.INTERNET" />
    
    <uses-permission 
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ManqalaVariAppTheme"
        android:allowBackup="false" >        
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaMainMenuActivity" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaCombatVariActivity" 
            android:screenOrientation="landscape"           
            />
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaCampaignWellcomeActivity" 
            android:screenOrientation="landscape"           
            />
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaCampaignActivity" 
            android:screenOrientation="landscape"           
            />
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaMultiplayerActivity" 
            android:screenOrientation="landscape"           
            />
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaTutorialActivity" 
            android:screenOrientation="landscape"           
            />
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaCreditsActivity"
            android:screenOrientation="landscape"           
            />
        <activity 
            android:name="rf.yagodar.manqala.free.activity.ManqalaOptionsActivity" 
            android:screenOrientation="landscape"           
            />
        
        <activity
             android:name="com.google.ads.AdActivity"             
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            />
    </application>
</manifest>